<header>
  <div>
    <h1>{{name}}</h1>
  </div>
  <div class="mt-3">({{birthdate}})</div>
  <div>{{birthplace}}</div>
  
  <div class="mt-3">({{deathdate}})</div>
  <div>{{deathplace}}</div>
  
  <div class="mt-3">Nationality: {{nationality}}</div>
  
  <div class="mt-3">Occupation: <b>{{occupation}}</b></div>
  
  <div class="mt-3">Known for: <em>"{{known_for}}"</em></div>
</header>

<hr />
<main>
  <section>
      {{> title data="Education" big=true}}
       {{#each education}}
         <div class="ms-4">
            <div><b>{{degree}}</b></div>
            <div>{{field}}</div>
            <div>{{institution}}</div>
            <div>({{year}})</div>
         </div>
        {{/each}}
  </section>
    <section>
          {{> title data="Notable publications" big=false}}
           {{#each notable_publications}}
            <div class="ms-4">
             <div class="mt-2"><em><b>{{title}}</b></em></div>
             
             <div class="mt-2">({{year}})</div>
             <div>{{publisher}}</div>
             
            </div>
           {{/each}}
    </section>
      <section>
          {{> title data="Partners" big=false}}
            {{#each partners}}
             
              <div class="ms-3 mt-2"><b>{{name}}</b></div>
              <div class="ms-3 mt-2">{{relationship}}</div>
              <div class="ms-3">({{years}})</div>
              
              
            {{/each}}
      </section>
        <section>
            {{> title data="Awards" big=false}}
             {{#each awards}}
              <div class="ms-4">
                <div><b>{{title}}</b></div>
                <div>({{year}})</div>
                
                <div class="mt-2">{{description}}</div>
              </div>
             {{/each}}
             <div class="ms-4">
               <div class="mt-2">Influences: <em>{{influences}}</em></div>
               <div>Influenced: <em>{{influenced}}</em></div>
             </div>
        </section>
          <section>
            {{> title data="Quotes" big=false}}
              {{#each quotes}}
                    <div class="ms-4">
                    <q>
                       <div>"{{first}}"</div>
                       <div>"{{second}}"</div>
                       <div>"{{third}}"</div>
                       <div>"{{fourth}}"</div>
                    </q>
                    </div>
              {{/each}}
          </section>
            <section>
                {{> title data="Major_discoveries" big=false}}
                  {{#each major_discoveries}}
                    <div class="ms-4">
                   <div><em><b>{{title}}</b></em></div>
                     <div>({{year}})</div>
                     
                      <div class="mt-2">
                         Description: "{{description}}"
                      </div> 
                       </div>
                  {{/each}}
            </section>
               <section>
                   {{> title data="Contributions" big=false}}
                 <ul>
                    {{#with contributions}}
                        <div><b>{{title}}</b></div>
                        
                         <div class="mt-2">
                             Description: "{{description}}"
                         </div>
                         <div>({{year}})</div>
                         <div>{{field}}</div>
                    {{/with}}
                 </ul>
            </section>
</main>