<header>
  <div>
    <h1>{{name}}</h1>
  </div>
</header>
<div class="mt-3">
  <hr>
</div> 
<main>
   <section>
       {{> title data="Users" big=true}}
        {{#each users}}
         <div class="ms-3">
          <div><h1>User: <b>{{id}}</b></h1></div>
         </div>
          <div class="ms-4 mt-3">Name: <strong>{{name}}</strong></div>
          
          <div class="ms-4 mt-2">Gender: <b>{{gender}}</b></div>
          
          <div class="ms-4 mt-2">Age: <b>{{age}}</b></div>
          
          <div class="mt-3">
          <hr>
          </div>
          
          
          <div class="ms-4 mt-2">
           <div><b><em>Friends</em></b></div>
           </div>
           
           
        {{#each friends}} 
          
          <div class="ms-3 mt-4">
            <div class="ms-4 mt-2">Id: <b>{{id}}</b></div>
            
            <div class="ms-4 mt-2">Name: <b>{{name}}</b></div>
            
            <div class="ms-4 mt-2">Gender: <b>{{gender}}</b></div>
            
            <div class="ms-4 mt-2">Age: <b>{{age}}</b></div>
            
          </div> 
            
            
            
            <div class="ms-3 mt-4"><b><em>Mutual friends</em></b></div>
            
            
            
            {{#each mutual_friends}}
              
             <div class="ms-3 mt-4">
              <div class="ms-4 mt-2">Id: <b>{{id}}</b></div>
              
              <div class="ms-4 mt-2">Name: <b>{{name}}</b></div>
            
              <div class="ms-4 mt-2">Gender: <b>{{gender}}</b></div>
              
              <div class="ms-4 mt-2">Age: <b>{{age}}</b></div>
            </div> 
          
          {{/each}}
             <div class="mt-4">
              {{#each groups}}
                  {{> title data="Group" big=false}}
                <div class="ms-3 mt-4">
                    <div class="ms-4 mt-2">Id: <b>{{id}}</b></div>
                    
                    <div class="ms-4 mt-2">Name: <b>"{{name}}"</b></div>
                  
                    <div class="ms-4 mt-2"><em>{{description}}</em></div>
                    
                </div>
                      
                      <div class="ms-3 mt-2"><b><em>Members</em></b></div>
                    
                    {{#each members}}
                      
                      
                   <div class="ms-3 mt-4">
                    <div class="ms-4 mt-2">Id: <b>{{id}}</b></div>
                    
                    <div class="ms-4 mt-2">Name: <b>{{name}}</b></div>
                    
                    <div class="ms-4 mt-2">Gender: <b>{{gender}}</b></div>
                    
                    <div class="ms-4 mt-2">Age: <b>{{age}}</b></div>
                  
                   </div>
                   
                    {{/each}}
                    
                  
                  
    
                {{/each}}
                </div>
                
      {{/each}} 

         <div class="mt-4">
           {{#each groups}}
           {{> title data="Group" big=false}}
            <div class="ms-3 mt-4">
             <div class="ms-4 mt-2">Id: <b>{{id}}</b></div>
             
             <div class="ms-4 mt-2">Name: <b>"{{name}}"</b></div>
             
             <div class="ms-4 mt-2"><em>{{description}}</em></div>
             </div>
             

                 
                  <div class="ms-3 mt-5"><b><em>Members</em></b></div>
                 
                
              {{#each members}}
                 
                 <div class="ms-3 mt-4">
                    <div class="ms-4 mt-2">Id: <b>{{id}}</b></div>
                    <br>
                    <div class="ms-4 mt-2">Name: <b>{{name}}</b></div>
                    <br>
                    <div class="ms-4 mt-2">Gender: <b>{{gender}}</b></div>
                    <br>
                    <div class="ms-4 mt-2">Age: <b>{{age}}</b></div>
                    
                  </div>
                   
              {{/each}}
          {{/each}}
          </div>
      {{/each}}
  </section>
</main>