<header>
    <div>
      <h1>{{name}}</h1>
    </div> 
   <div class="mt-5">
     <em>{{description}}</em>
   </div>
   
   <div class="mt-3">Price: <b>{{price}}</b></div>
   <div>Category: <b>{{category}}</b></div>
</header>
<div class="mt-3">
<hr>
</div>
<main>
    {{#with features}}
      <h1>Features</h1>
  <section>
    <div class="ms-4 mt-3">
      {{>title data="Processor" big=false}}
    </div>
     {{#with processor}}
       <div class="ms-5 mt-2">Brand: <b>{{brand}}</b></div>
       <div class="ms-5 mt-2">Model: <b>{{model}}</b></div>
       <div class="ms-5 mt-2">Speed: <b>{{speed}}</b></div>
       <div class="ms-5 mt-2">Cores: <b>{{cores}}</b></div>
       <div class="ms-5 mt-2">Cache: <b>{{cache}}</b></div>
     {{/with}}
  </section>
  <section>
    <div class="ms-4 mt-2">
      {{>title data="Memory" big=false}}
    </div>
      {{#with memory}}
          <div class="ms-5 mt-2">Type: <b>{{type}}</b></div>
          <div class="ms-5 mt-2">Size: <b>{{size}}</b></div>
          <div class="ms-5 mt-2">Speed: <b>{{speed}}</b></div>
      {{/with}}
 </section>
 <section>
    <div class="ms-4 mt-2">
      {{>title data="Storage" big=false}}
    </div>
     {{#with storage}}
       <div class="ms-5 mt-2">Type: <b>{{type}}</b></div>
       <div class="ms-5 mt-2">Size: <b>{{size}}</b></div>
     {{/with}}
 </section>
 <section>
    <div class="ms-4 mt-2">
      {{>title data="Display" big=false}}
    </div>
      {{#with display}}
        <div class="ms-5 mt-2">Size: <b>{{size}}</b></div>
        <div class="ms-5 mt-2">Resolution: <b>{{resolution}}</b></div>
        <div class="ms-5 mt-2">Technology: <b>{{technology}}</b></div>
        <div class="ms-5 mt-2">Color space: <b>{{color_space}}</b></div>
        <div class="ms-5 mt-2">Brightness: <b>{{brightness}}</b></div>
        <div class="ms-5 mt-2">Refresh rate: <b>{{refresh_rate}}</b></div>
      {{/with}}
 </section> 
 <section>
    <div class="ms-4 mt-2">
       {{>title data="Graphics" big=false}}
    </div>
      {{#with graphics}}
        <div class="ms-5 mt-2">Brand: <b>{{brand}}</b></div>
        <div class="ms-5 mt-2">Model: <b>{{model}}</b></div>
        <div class="ms-5 mt-2">Memory: <b>{{memory}}</b></div>
      {{/with}}
 </section> 
 <section>
   <div class="ms-4 mt-2">
      {{>title data="Ports" big=false}}
    </div>
      {{#each ports}}
        <div class="ms-5 mt-2">Type: <b>{{type}}</b></div>
        <div class="ms-5 mt-2">Count: <b>{{count}}</b></div>
        
        <div class="ms-5 mt-2"><b>{{features}}</b></div>
        
      {{/each}}
</section> 
<section>
    <div class="ms-4 mt-2">
      {{>title data="Battery" big=false}}
    </div>
     {{#with battery}}
        <div class="ms-5 mt-2">Type: <b>{{type}}</b></div>
        <div class="ms-5 mt-2">Capacity: <b>{{capacity}}</b></div>
        <div class="ms-5 mt-2">Life: <b>{{life}}</b></div>
     {{/with}}
     
</section>  
  
    <div class="ms-5 mt-2">Weight: <b>{{weight}}</b></div>
  
 <section>
    <div class="ms-4 mt-2">
      {{>title data="Dimensions" big=false}}
    </div>
     {{#with dimensions}}
        <div class="ms-5 mt-2">Height: <b>{{height}}</b></div>
        <div class="ms-5 mt-2">Width: <b>{{width}}</b></div>
        <div class="ms-5 mt-2">Depth: <b>{{depth}}</b></div>
     {{/with}}
      <div class="ms-5 mt-2">Operating system: <b>{{operating_system}}</b></div>
 </section>
 <section>
   <div class="ms-4 mt-2">
      {{>title data="Accessories" big=false}}
    </div>
     {{#each accessories}}
     
       <div class="ms-5 mt-2">Name: <b>{{name}}</b></div>
       <div class="ms-5 mt-2">Price: <b>{{price}}</b></div>
     {{/each}}
 </section>
  {{/with}}
</main>