<main>
    
  <div class='col-12'>
    <div class='row'>
      <div class='card'>
        {{#with navigation}}

          <div class='nav'>

            {{#each links}}
              <div class='nav-item'>
                <a
                  href='{{href}}'
                  class='nav-link'
                >{{text}}</a>
              </div>
            {{/each}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
   <header>
    
    <h1 class='p-4'>{{header}}</h1>

    
    {{#with contacts_data}}

    
      <h4 class="pt-4">{{title}}</h>

       <div class="row">
        <div class="col-8">
           <div class="row">
            
        {{#each buttons}}
            
           {{#if isPrimary}}
           
          <div class="col-2 w-50 pt-3">
            
              <button class="btn btn-warning btn-sm">{{text}}</button>
          </div>
          
          {{/if}}
            {{#if isOutline}}
               
                <div class="col-2 w-50 pt-3">
                    
                   <button class="btn btn-outline-warning btn-sm">{{text}}</button>
                </div>
                
            {{/if}}
            
         {{/each}}
         </div>
         </div>
         </div>
        
        

        
         
         {{#with form}}
          
            {{#with input}}
              <div class="row g-2">
                {{#with surname}}
                
                  <div class="col-4">
                   <h6><label class="form-label pt-4">{{label}}</label></h6>
                      <input class="form-control" value="{{placeholder}}">
                        <h6><div class="form-text">{{caption}}</div></h6>
                 </div>
                 
              {{/with}}
                 {{#with name}}
                
                   <div class="col-4">
                       <h6><label class="form-label pt-4">{{label}}</label></h6>
                        <input class="form-control" value="{{placeholder}}">
                        <h6><div class="form-text">{{caption}}</div></h6>
                  </div>
                  
                 {{/with}}
                 </div>
                  <div class="row g-2">
                   {{#with phone}}
                      <div class="col-4">
                       <h6><label class="form-label pt-4">{{label}}</label></h6>
                        <input class="form-control" value="{{placeholder}}">
                        <h6><div class="form-text">{{caption}}</div></h6>
                      </div>
                   {{/with}}
                      {{#with email}}
                        <div class="col-4">
                          <h6><label class="form-label pt-4">{{label}}</label></h6>
                           <input class="form-control" value="{{placeholder}}">
                            <h6><div class="form-text">{{caption}}</div></h6>
                        </div>
                      {{/with}}
                   </div>
            {{/with}}

          


              <div class="pt-5">
                <hr>
              </div>
                {{#each switch}}
                   <div class="form-check form-switch p-2 m-5">
                    <input type="checkbox"  class="form-check-input">
                    {{#if isActive}}
                      <h6><div class="pt-2">{{text}}</div></h6>
                    
                      {{else}}
                     
                      <h6><div class="pt-2">{{text}}</div></h6>
                    {{/if}} 
               </div>
                {{/each}}
                </div>
         {{/with}}
    {{/with}}
  </header>
</div>
       
    
       <div class="col-4 p-5">
          <div class="row">
             <div class="card m-2">
                
         {{#each action_block}}
              <div class="nav p-1 m-1">
                <div class="nav-item">
                   {{#if isSuccess}} 
                  <button class="btn btn-success btn-sm">{{text}}</button>
                  {{/if}}
                  {{#if isDanger}}
                  <button class="btn btn-danger btn-sm">{{text}}</button>
                  {{/if}}
                  {{#if isInfo}}
                  <button class="btn btn-info btn-sm">{{text}}</button>
                  {{/if}}
                  </div>
                </div>
            {{/each}}
            
           </div>
       </div>

    
       
          <div class="row">
            <div class="card m-2">
                <div class="card-body">
                {{#with total}}
                    <h5>{{title}}</h5>
                    {{#each item_list}}
                      <div>{{name}}: {{price}}</div>
                    {{/each}}
                    
                      <hr>
                    
                      {{#each additional_info}}
                        <div>{{text}}: {{value}}</div>
                      {{/each}}

                      <hr>
                      {{#with total_price}}
                        <div>{{text}}: {{value}}</div>
                      {{/with}}
                      <hr>
                       {{#each button}}
                         {{#if isPrimary}}
                           <button class="btn btn-primary btn-sm">{{text}}</button>
                         {{/if}}
                         <br>
                         {{#if isOutline}}
                           <button class="btn btn-outline-primary btn-sm">{{text}}</button>
                         {{/if}}
                       {{/each}}
                {{/with}}
                </div>
          </div>
        </div>
       </div>
     

   </div>
</main>