<main>
  <div class='col-12'>
    <div class='row'>
      <div class='card'>
        {{#with navigation}}
          <div class='nav'>
             {{#each links}}
                <div class='nav-item'>
                <a
                    class='nav-link {{#if @last}} disabled {{/if}}'
                    href='{{href}}'
                >{{text}}</a>
                </div>
            {{/each}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-8">
   <section class="pt-4">
   
      {{#with formBlock}}
         <h1 class="pt-3">{{header}}</h1>
         
           {{#with rating}}
                <div class="col-8">
                  <h6 class="pt-4">{{title}}</h6>
                    <div>{{value}}</div>
                </div>
           {{/with}}
          <div class="row">
            {{#with actionBlock}}
              
                <div class="col-8">
                <ul class="nav nav-tabs pt-5">
                  {{#each tabs}}
                    <li class="nav-link {{#if isActive}} active {{/if}}">
                        {{text}}
                    </li>
                  {{/each}}
               </ul>
              </div>
             </div>
              <div class="col-12 pt-4">
                 <hr>
              </div>
               {{#with report}}
                  <div class="col-8 mt-5">
                    <div class="card">
                      <div class="card-body">
                        <div>{{title}}</div>
                          {{#with button}}
                            <a class="btn btn-secondary mt-3" href="{{link}}">{{text}}</a>
                          {{/with}}
                      </div>  
                    </div>
                  </div>
               {{/with}}
            {{/with}}
             <div class="col-12 pt-4">
                <hr>
             </div>
         {{#with feedbackBlock}}
            <h4 class="pt-4">{{title}}</h4>
            <div class="row">
                 <div class="col-10 pt-4">
                   {{#each buttons}}
                   
                     {{#if isWarning}}
                        <a class="btn btn-warning btn-sm ms-0 m-2" href="{{link}}">{{text}}</a>
                     {{/if}}
                       {{#if isSuccess}}
                         <a class="btn btn-success btn-sm" href="{{link}}">{{text}}</a>
                       {{/if}}
                         {{#if isDanger}}
                           <a class="btn btn-danger btn-sm m-2" href="{{link}}">{{text}}</a>
                         {{/if}}
                         
                    {{/each}}
                 </div>
            </div>
         {{/with}}
       
              
    </div>       
          
           {{#with goodsInfo}}
            
             <div class="col-4 mt-5">
                <div class="card">
                    <div class="card-body">
                      <img src="{{photo}}" alt="Product photo">
                      <div class="ps-1 p-3"><b>{{name}}</b></div>
                    </div>
                </div>
             
             
                <div class="card mt-4">
                  <div class="card-body">
                     <div><b>{{price}}</b></div>
                       {{#if inMarket}}
                          <div>{{text}}</div>
                       {{/if}}  
                         {{#each buttons}}
                           {{#if isPrimary}}
                             <a class="btn btn-primary mt-2" href="{{link}}">{{text}}</a>
                           {{/if}}
                           <div class="mt-2">
                             {{#if isSecondary}}
                               <a class="btn btn-secondary" href="{{link}}">{{text}}</a>
                             {{/if}}
                           </div>
                         {{/each}}
                      </div>
                   </div>
                
              
                 <div class="card mt-4">
                    <div class="card-body">
                       {{#with seller}}
                         <div>{{title}}: <b>{{value}}</b></div>
                       {{/with}}
                    </div>
                 </div>
              </div> 
              
           {{/with}}
         
      {{/with}}
    
  </section>
</div>
  <div class="col-12">
     <hr>
  </div>
     
  <section>
      {{#each reviewList}}
      <div class="col-12">
        <div class="card m-5">
          <div class="card-body">
           <div class="card">
              <div class="card-header">
                {{#with title}}
                 <div><b>{{userName}}</b></div>
                 <div>{{caption}}</div>
                 <div>{{date}}</div>
                {{/with}} 
              </div>
                 <div class="card-body">
                   {{#with reviewBody}}
                     {{#with seller}}
                       <div>{{title}}: {{value}}</div>
                     {{/with}}
                       {{#with rating}}
                         <div>{{title}}: {{value}}</div>
                       {{/with}}
                       <p class="pt-3">{{text}}</p>
                         {{#with advantages}}
                           <div><b>{{title}}:</b></div>
                           <p>{{text}}</p>
                         {{/with}}
                         {{#with disadvantages}}
                           <div><b>{{title}}:</b></div>
                           <p>{{text}}</p>
                         {{/with}}
                           {{#each images}}
                             <img src='https://picsum.photos/110/100'>
                           {{/each}}   
                     </div>
           </div>      
                            {{#each coments}}
                              <div class="col-12 ps-5">
                                <div class="card m-5 ms-5 me-1">
                                  <div class="card-body">
                                     <div><b>{{userName}}</b></div>
                                     <div>{{date}}</div>
                                     <p class="pt-2">{{text}}</p>
                                  </div>
                                </div>
                             </div>
                           {{/each}}
                          
                   {{/with}}
                    
                 </div>
              </div>
           </div>
        
        
        
      {{/each}}
  </section>
  <section>
      <div class="col-12">
         <div class="card">
           <div class="card-body text-bg-success text-center">
              {{#with service}}
                 <h4>{{title}}</h4>
                 <p>{{description}}</p>
                   {{#each buttons}}
                     <a class="btn btn-primary" href="{{link}}">{{text}}</a>
                   {{/each}}
              {{/with}}
           </div>
         </div>
      </div>
  </section>
</main>
 <div class="col-12 mt-4">
   <hr>
 </div>
<footer>
   <div class="row">
      {{#each footer}}
        <div class="col-2">
          {{#each this}}
            <a class="btn btn-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
          {{/each}} 
        </div>
      {{/each}}
   </div>
</footer>